<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>欢迎登录</title>
	<link rel="shortcut icon" href="/static/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="/static/css/test.css">
</head>
<body>
	<form action="/login_test" method="post">
		<div class="center">
			<input type="text" name="username" placeholder="用户名" id="user"><br>
			<input type="password" name="password" placeholder="密码" id="key"><br>
			<button class="button" type="submit">登录</button>
			<button class="button" type="submit" formaction="/sign_in" >注册</button>	
		</div>
	</form>
</body>
</html>