<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>欢迎登录</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:9999/login/test.css">
</head>
<body>
	<form action="/register" method="post">
		<div class="center">
			<input type="text" name="username" placeholder="用户名" id="user"><br>
			<input type="password" name="password" placeholder="密码" id="key"><br>
			<input type="text" name="id_name" placeholder="昵称" id="key"><br>
			<button class="button" type="submit">注册</button>
			<button class="button" type="submit" formaction="/back">返回</button>	
		</div>
	</form>
</body>
</html>